body {
    background: linear-gradient(to bottom right, #000000, #ffffff); /* degradê preto para branco */
    margin: 0; /* remove margens padrão do body */
    font-family: Arial, sans-serif; /* fonte para todo o documento */
    color: #333; /* cor padrão para o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos para o retângulo centralizado */
.retangulo {
    width: 400px; /* largura do retângulo */
    padding: 30px; /* espaçamento interno */
    border-radius: 8px; /* bordas arredondadas */
    background-color: #00000065; /* cor de fundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76); /* sombra suave */
    text-align: center; /* alinha o texto centralmente */
}

/* Estilos para o título */
.retangulo h1 {
    font-size: 24px; /* tamanho da fonte */
    margin-bottom: 20px; /* margem inferior */
    color: rgb(255, 255, 255); /* cor do texto */
}

/* Estilos para os botões */
.retangulo .botao {
    padding: 12px 24px; /* padding interno */
    font-size: 16px; /* tamanho da fonte */
    border: none; /* remove a borda */
    border-radius: 4px; /* bordas arredondadas */
    cursor: pointer; /* cursor ao passar */
    background-color: #000000; /* cor de fundo do botão */
    color: #fff; /* cor do texto */
    text-decoration: none; /* remove sublinhado do link */
    transition: background-color 0.3s ease; /* transição suave de cor */
    margin: 0 10px; /* margem entre os botões */
    outline: none; /* remove o contorno ao focar */
    border: 1px solid transparent; /* borda transparente */
}

/* Efeito de hover nos botões */
.retangulo .botao:hover {
    background-color: #0056b3; /* cor de fundo do hover */
}

/* Estilo para o link dentro do botão */
.retangulo .botao a {
    color: inherit; /* herda a cor do texto do botão */
    text-decoration: none; /* remove sublinhado */
    display: block; /* torna o link em bloco para preencher o botão */
    height: 100%; /* altura total do link */
    width: 100%; /* largura total do link */
    padding: 10px 20px; /* padding interno */
}